body {

}
.error {
  width: 80%;
  margin: 0 auto;
  background: red;
  border: 2px solid;
  border-radius: 0.5em;
  opacity: 1;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transition: -webkit-transform 0.5s ease-in, color 0s ease-in 0.4s;
  transition: transform 0.5s ease-in, color 0s ease-in 0.4s;
}
.error.hide {
  color: rgba(0,0,0,0); /* hide text */
  -webkit-transform: scaleY(0);
  transform: scaleY(0); /* scaleX(0.5) */
  -webkit-transition: -webkit-transform 3s ease-in, color 0s ease-in 1.5s;
  transition: transform 3s ease-in, color 0s ease-in 1.5s; /* long delay */
}
