* {
  margin: 0 auto;
  text-align: center;
}
body {
font-size: 30px;
max-width: 480px;
margin: 0 auto; /* center */
}
input {
  font-size: 100px;
  width: 3em;
  height: 150px;
  border: 5px solid;
}
button {
  font-size: 50px;
  width: 5em;
}
.error {
  background: red;
  border: 2px solid;
  border-radius: 0.5em;
  opacity: 1;
  transform-origin: center top;
  -webkit-transition: -webkit-transform 0.5s ease-in, color 0s ease-in 0.4s;
  transition: transform 0.5s ease-in, color 0s ease-in 0.4s;
}
.error.hide {
  color: rgba(0,0,0,0); /* hide text */
  transform: scaleY(0); /* scaleX(0.5) */
  -webkit-transition: -webkit-transform 3s ease-in, color 0s ease-in 1.5s;
  transition: transform 3s ease-in, color 0s ease-in 1.5s; /* long delay */
}
