Click==7.0
dnspython==1.16.0
eventlet==0.24.1
Flask==1.0.2
Flask-SocketIO==3.3.2
greenlet==0.4.15
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
monotonic==1.5
python-engineio==3.5.1
python-socketio==3.1.2
PyYAML==5.1
RPi.GPIO==0.6.5
#RPIO==0.10.0
six==1.12.0
Werkzeug==0.15.2
