[Unit]
Description=Vending machine server
After=network.target

[Service]
Type=forking
User=vend
WorkingDirectory=/home/vend/vend-interface/
ExecStart=/home/vend/vend-interface/venv/bin/python3 -m vendmachine --fork > /home/vend/vend-interface/server.log 2>&1
Restart=on-abnormal
RestartSec=10s

KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
