{% extends "base.html" %}
{% block title %}MakerMart Vending Machine - Login{% endblock %}
{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='ext.css') }}">{% endblock %}
{% block script %}{% endblock %}
{% block body %}
<h3 class="title">Login</h3>
<div class="box">
  <form method="POST" action="">
    <div class="field">
      <input class="input is-large" type="text" name="username" placeholder="Username" autofocus="">
    </div>
    <div class="field">
      <input class="input is-large" type="password" name="password" placeholder="Your Password">
    </div>
    <div class="field">
      <label class="checkbox">
          <input type="checkbox">
          Remember me
      </label>
    </div>
    <button class="button is-block is-info is-large is-fullwidth">Login</button>
    <input type="hidden" value="{{ next or '' }}" name="next"></input>
  </form>
</div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div>{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
<!-- <div class="status">Disconnected</div> -->
<!-- Credit: <span class="credit">$0.00</span> -->
{% endblock %}
