{% extends "base.html" %}
{% block title %}MakerMart Vending Machine{% endblock %}
{% block script %}<script>
$(document).ready(function() {
  $('#vend-request').submit(function(e) {
    event.preventDefault(); //don't actually submit
    $.ajax({
      url: "{{ url_for('api.vend') }}",
      method:"POST",
      data:$(this).serialize(),
      error: function(xhr, status, text) {
        switch (xhr.status) {
          case 404: alert("api not found"); break;
          case 400: alert("Vend address does not exist"); break;
          case 402: alert("Insufficient credit"); break;
          default: alert("Error requesting vend: " + xhr.status + text);
        }
      },
      success:function(data) {
        alert("Submitted")
        console.log(data)
      }
    });
  });
  $('#vend-addr').on('keyup keypress blur change', function(e) {
    //console.log("changed")
    if ($(this).val().length == 2) {
      $.ajax({
        url: "{{ url_for('api.price') }}",
        data: $("#vend-request").serialize(),
        error: function(xhr, status, text) {
          switch (xhr.status) {
            case 404: alert("api not found"); break;
            case 400: $('#vend-addr').val(""); break;
            default: alert("Error getting price: " + xhr.status + text);
          }
          $(".price").html("");
          price = null;
        },
        success: function(data) {
          console.log("price: " + data.price)
          $(".price").html(data.text);
          price = data.price;
        }
      });
    } else {
      if ($(this).val().length > 2) {
        $(this).val("");
      }
      $(".price").html("");
    }
  });
});
$(window).load(function() {
  $('#vend-addr').select();
});
</script>{% endblock %}
{% block body %}
<div class="status">Disconnected</div>
Credit: <span class="credit">$0.00</span>
<form id="vend-request">
  <input id="vend-addr" type="text" name="addr" maxlength="3" placeholder="00" required/>
  <br> <button class="btn" type="submit">VEND</button>
</form>
Item price: <span class="price"></span>
{% endblock %}
